html {
  width: 100%;
  font-family: Arial, sans-serif;
  color: #014e79;
}

body {
  background-color: gainsboro;
}

header {
  background-color: #1f6357;
  padding: 10px;
  margin: 5px;
}

img:hover {
  border: #17833b;
  border-radius: 5px;
  padding-top: 13px;
  cursor: pointer;
  transform: scale(1.1) rotate(10deg);
  transition: transform 0.5;
}

h1,
h2,
h6,
p {
  text-align: center;
  color: black;
}

.btn,
.lien {
  font-size: 16px;
  color: red;
  margin: 20px;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

/*
Je ne comprends pas pourquoi les animations ne fonctionnent pas avec la class "lien"
*/

.btn:hover,
.lien:hover {
  transform: translateY(-10px);
}

form {
  margin: 3% 15%;
}

div,
button {
  margin: 1% 0%;
}

fieldset {
  padding: 2%;
  border: 2px #014e79 solid;
  border-radius: 5px;
}

label {
  font-size: 1.1em;
  margin-right: 1em;
}

button:hover {
  background-color: #014e79;
  transition-duration: 0.5s;
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
  body {
    display: block;
    width: 100%;
  }
}
